*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}.routing{

    a{
        display: inline;
        padding: 30px;
        text-decoration: none;
        color: rgba(87, 2, 167, 0.644);
        font-size: 18px;
        font-weight: 500;
    }
    }
   